<header class="site-header">
  <div class="container site-header__container">
    <a class="logo" href="#welcome">
      <img src="./svg/logo.svg" alt="Tailed House logo" />
    </a>

    <nav class="menu-nav" aria-label="Основна навігація">
      <ul class="menu-list">
        <li><a class="menu-link" href="#pets">Знайди друга</a></li>
        <li><a class="menu-link" href="#about">Про нас</a></li>
        <li><a class="menu-link" href="#faq">Часті питання</a></li>
        <li><a class="menu-link" href="#stories-section">Історії успіху</a></li>
      </ul>
    </nav>

    <button class="friend-btn" type="button" data-open-friend-modal>
      Взяти друга
    </button>

    <button
      class="burger-buttom"
      type="button"
      aria-label="Відкрити меню"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <img src="./svg/menu.svg" alt="Перемикач мобільного меню" />
    </button>
  </div>

  <div class="mobile-menu" id="mobile-menu" aria-hidden="true">
    <div class="mobile-menu__inner">
      <div class="mobile-menu__top">
        <a class="logo mobile-menu__logo" href="#welcome">
          <img src="./svg/logo.svg" alt="Tailed House logo" />
        </a>
        <button
          class="mobile-menu__close"
          type="button"
          aria-label="Закрити меню"
        >
          <img src="./svg/close.svg" alt="Закрити меню" />
        </button>
      </div>

      <div class="mobile-menu__body">
        <ul class="mobile-menu__list">
          <li><a class="mobile-menu__link" href="#pets">Знайди друга</a></li>
          <li><a class="mobile-menu__link" href="#about">Про нас</a></li>
          <li>
            <a class="mobile-menu__link" href="#faq">Часті питання</a>
          </li>
          <li>
            <a class="mobile-menu__link" href="#stories-section"
              >Історії успіху</a
            >
          </li>
        </ul>

        <button
          class="friend-btn friend-btn--mobile"
          type="button"
          data-open-friend-modal
        >
          Взяти друга
        </button>
      </div>
    </div>
  </div>
</header>
