<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="stories-section" id="stories-section">
      <div class="container">
        <h2 class="stories-title">Щасливі історії, що надихають</h2>
        <p class="stories-subtitle">
          Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
        </p>
        <div class="swiper feedbacks-slider">
          <div class="swiper-wrapper" id="stories-list"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
  </body>
</html>
